<h1>Week 3 - Movie Details App [Martin Durkin - s00236994]</h1>

<h2>Movie List</h2>
<ul>
   @for (movie of movieService.movies(); track movie.title; let isEven = $even; let isOdd = $odd) {
  <li [class.evenRow]="isEven" [class.oddRow]="isOdd">
    <button
      [disabled]="movieService.favourites().includes(movie.title)"
      (click)="movieService.addFav(movie.title)">
      {{ movieService.favourites().includes(movie.title) ? 'Added' : 'Favourite' }}
    </button>
    {{ movie.title }} ({{ movie.year }} - {{ movie.director }})
  </li>
}

</ul>


<h2>My Favourites</h2>

@if (movieService.favourites().length > 0) {
  <p>{{ movieService.favourites().length }} movies chosen</p>
}

<ul>
 @for (fav of movieService.favourites(); track $index; let i = $index; let isEven = $even; let isOdd = $odd) {
  <li [class.evenRow]="isEven" [class.oddRow]="isOdd">
    <button (click)="movieService.delFav(i)">Delete</button>
    {{ fav }}
  </li>
}

</ul>

